<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>https://blooming-basin-3818.herokuapp.com</string>
	<key>serverVersion</key>
	<string>/api/v3</string>
	<key>appID</key>
	<integer>1</integer>
</dict>
</plist>
