<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MS Manager</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-57x57.png</string>
		<string>Icon-114x114.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-58x58</string>
				<string>Icon-80x80</string>
				<string>Icon-58x58.png</string>
				<string>Icon</string>
				<string>Icon-57x57.png</string>
				<string>Icon-114x114.png</string>
				<string>Icon-120x120.png</string>
				<string>Icon-60x60.png</string>
				<string>Icon-40x40.png</string>
				<string>Icon-144x144.png</string>
				<string>Icon-29x29.png</string>
				<string>Icon-80x80.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-152x152</string>
				<string>Icon-76x76</string>
				<string>Icon-58x58.png</string>
				<string>Icon</string>
				<string>Icon-57x57.png</string>
				<string>Icon-114x114.png</string>
				<string>Icon-120x120.png</string>
				<string>Icon-60x60.png</string>
				<string>Icon-40x40.png</string>
				<string>Icon-144x144.png</string>
				<string>Icon-29x29.png</string>
				<string>Icon-80x80.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.ringful.msaa</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>7.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.26.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.2</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>MSAppMainStoryboard</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MSAppMainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
